[submodule "boot/Zero.Core.Entry.Extension"]
	path = boot/Zero.Core.Entry.Extension
	url = git@gitee.com:zero-ws/Zero.Core.Entry.Extension.git
[submodule "boot/Zero.Core.Entry.Facade"]
	path = boot/Zero.Core.Entry.Facade
	url = git@gitee.com:zero-ws/Zero.Core.Entry.Facade.git
[submodule "boot/Zero.Core.Entry.Import"]
	path = boot/Zero.Core.Entry.Import
	url = git@gitee.com:zero-ws/Zero.Core.Entry.Import.git
[submodule "boot/Zero.Core.Entry.Mini"]
	path = boot/Zero.Core.Entry.Mini
	url = git@gitee.com:zero-ws/Zero.Core.Entry.Mini.git
[submodule "boot/Zero.Core.Entry.OSGI"]
	path = boot/Zero.Core.Entry.OSGI
	url = git@gitee.com:zero-ws/Zero.Core.Entry.OSGI.git
[submodule "source/Zero.Core.Feature.Database.Cache"]
	path = source/Zero.Core.Feature.Database.Cache
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Database.Cache.git
[submodule "source/Zero.Core.Feature.Database.CP"]
	path = source/Zero.Core.Feature.Database.CP
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Database.CP.git
[submodule "source/Zero.Core.Feature.Database.JOOQ"]
	path = source/Zero.Core.Feature.Database.JOOQ
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Database.JOOQ.git
[submodule "source/Zero.Core.Feature.Toolkit.Expression"]
	path = source/Zero.Core.Feature.Toolkit.Expression
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Toolkit.Expression.git
[submodule "source/Zero.Core.Feature.Unit.Testing"]
	path = source/Zero.Core.Feature.Unit.Testing
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Unit.Testing.git
[submodule "source/Zero.Core.Feature.Web.Cache"]
	path = source/Zero.Core.Feature.Web.Cache
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Web.Cache.git
[submodule "source/Zero.Core.Feature.Web.Client"]
	path = source/Zero.Core.Feature.Web.Client
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Web.Client.git
[submodule "source/Zero.Core.Feature.Web.MBSE"]
	path = source/Zero.Core.Feature.Web.MBSE
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Web.MBSE.git
[submodule "source/Zero.Core.Feature.Web.Monitor"]
	path = source/Zero.Core.Feature.Web.Monitor
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Web.Monitor.git
[submodule "source/Zero.Core.Feature.Web.Security"]
	path = source/Zero.Core.Feature.Web.Security
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Web.Security.git
[submodule "source/Zero.Core.Feature.Web.Session"]
	path = source/Zero.Core.Feature.Web.Session
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Web.Session.git
[submodule "source/Zero.Core.Feature.Web.Shared"]
	path = source/Zero.Core.Feature.Web.Shared
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Web.Shared.git
[submodule "source/Zero.Core.Feature.Web.Utility.X"]
	path = source/Zero.Core.Feature.Web.Utility.X
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Web.Utility.X.git
[submodule "source/Zero.Core.Feature.Web.WebSocket"]
	path = source/Zero.Core.Feature.Web.WebSocket
	url = git@gitee.com:zero-ws/Zero.Core.Feature.Web.WebSocket.git
[submodule "source/Zero.Core.Runtime.Assembly"]
	path = source/Zero.Core.Runtime.Assembly
	url = git@gitee.com:zero-ws/Zero.Core.Runtime.Assembly.git
[submodule "source/Zero.Core.Runtime.Cloud"]
	path = source/Zero.Core.Runtime.Cloud
	url = git@gitee.com:zero-ws/Zero.Core.Runtime.Cloud.git
[submodule "source/Zero.Core.Runtime.Configuration"]
	path = source/Zero.Core.Runtime.Configuration
	url = git@gitee.com:zero-ws/Zero.Core.Runtime.Configuration.git
[submodule "source/Zero.Core.Runtime.Domain"]
	path = source/Zero.Core.Runtime.Domain
	url = git@gitee.com:zero-ws/Zero.Core.Runtime.Domain.git
[submodule "source/Zero.Core.Runtime.Metadata"]
	path = source/Zero.Core.Runtime.Metadata
	url = git@gitee.com:zero-ws/Zero.Core.Runtime.Metadata.git
[submodule "source/Zero.Core.Runtime.Security"]
	path = source/Zero.Core.Runtime.Security
	url = git@gitee.com:zero-ws/Zero.Core.Runtime.Security.git
[submodule "source/Zero.Core.Web.Container"]
	path = source/Zero.Core.Web.Container
	url = git@gitee.com:zero-ws/Zero.Core.Web.Container.git
[submodule "source/Zero.Core.Web.Invocation"]
	path = source/Zero.Core.Web.Invocation
	url = git@gitee.com:zero-ws/Zero.Core.Web.Invocation.git
[submodule "source/Zero.Core.Web.IO"]
	path = source/Zero.Core.Web.IO
	url = git@gitee.com:zero-ws/Zero.Core.Web.IO.git
[submodule "source/Zero.Core.Web.Model"]
	path = source/Zero.Core.Web.Model
	url = git@gitee.com:zero-ws/Zero.Core.Web.Model.git
[submodule "source/Zero.Core.Web.Scheduler"]
	path = source/Zero.Core.Web.Scheduler
	url = git@gitee.com:zero-ws/Zero.Core.Web.Scheduler.git
[submodule "source/Zero.Core.Web.Validation"]
	path = source/Zero.Core.Web.Validation
	url = git@gitee.com:zero-ws/Zero.Core.Web.Validation.git
